[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = https://github.com/kovisoft/slimv.git
